<!-- <div class="main" fxLayout="row wrap" >
	<div fxFlex="50%">
	<mat-card style="height: 80vh;">
		<img mat-card-image src="assets/images/pipeline.png" >
	</mat-card>
	</div><div fxFlex="50%">
	<mat-card >
		<img mat-card-image src="assets/images/iMOKA.png">
		<mat-card-content>
			<p>
			iMOKA (interactive Multi Objective K-mer Analysis ) is a software that enables a 
			comprehensive analysis of sequencing data from large cohorts to generate robust 
			classification models or explore specific genetic elements associated with disease etiology. 
			iMOKA uses a fast and accurate feature reduction step that combines a Naïve Bayes Classifier
			 augmented by an adaptive Entropy filter and a graph-based filter to rapidly reduce the search space. 
			 By using a flexible file format and distributed indexing, iMOKA can easily integrate data from 
			 multiple experiments and also reduces disk space requirements.</p>
		</mat-card-content>
	</mat-card>
	<mat-card style="margin-top:2em;">
		<p>
			 	This project is founded by the University of Montpellier (France)
			 	 as part of the initiative MUSE: Montpellier Université d'excellence.
			 	 The code is freely available under the Open Source CeCILL license here: <a title="GitHub" mat-icon-button href="https://github.com/RitchieLabIGH/iMOKA" target="_blank"><mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon></a>
			 	 . </p>
		<div class="logo-container" >
			 	 	<a href="https://muse.edu.umontpellier.fr/" target="_blank"><img src="assets/images/MUSE.png" ></a><a href="https://www.umontpellier.fr/" target='_blank'><img src="assets/images/UM.png" ></a><a href="http://www.cnrs.fr/" target='_blank'><img src="assets/images/CNRS.png" ></a>
		</div>
	</mat-card>
	</div>
</div> -->

<div class="container">
	<article>
		<p><span>iMOKA </span>(interactive Multi Objective K-mer Analysis ) is a software that enables a comprehensive analysis of sequencing data from large cohorts to generate robust classification models or explore specific genetic elements associated with disease etiology.</p><br>
		<p>iMOKA uses a fast and accurate feature reduction step that combines a Naïve Bayes Classifier augmented by an adaptive Entropy filter and a graph-based filter to rapidly reduce the search space. By using a flexible file format and distributed indexing, iMOKA can easily integrate data from multiple experiments and also reduces disk space requirements.</p><br>
		<p>This project is founded by the University of Montpellier (France) as part of the initiative MUSE: Montpellier Université d'excellence. The code is freely available under the Open Source CeCILL license here:</p>

		<div class="logo-container">
		<a href="https://muse.edu.umontpellier.fr/" target="_blank"><img src="../../assets/images/logo_muse.jpg" style="width: 120px; height: 72px" alt="Montpellier universite d'excellence"></a>
		
		<a href="https://www.umontpellier.fr/" target="_blank"><img src="../../assets/images/logo_montpellier universite.jpg" style="width: 70px; height: 72px" alt="montpellier universite"></a>

		<a href="https://www.umontpellier.fr/" target="_blank"><img src="../../assets/images/logo_cnrs.jpg" style="width: 61px; height:72px" alt="CNRS"></a>

		<a href="https://github.com/RitchieLabIGH/iMOKA"  target="_blank"><img src="../../assets/images/logo_github.png" style="width: 117px; height: 48px" alt="github"></a>	
		</div>
		
	</article>
	<div class="img-container">
		<img src="../../assets/images/pipeline_s_new.png" alt="Pipeline">
	</div>
	
</div>