<div class="main" fxLayout="row wrap" >
	<div fxFlex="50%">
	<mat-card >
		<img mat-card-image src="assets/images/pipeline.png" >
	</mat-card>
	</div><div fxFlex="50%">
	<mat-card >
		<img mat-card-image src="assets/images/iMOKA.png">
		<mat-card-content>
			<p>
			iMOKA (interactive Multi Objective K-mer Analysis ) is a software that enables a 
			comprehensive analysis of sequencing data from large cohorts to generate robust 
			classification models or explore specific genetic elements associated with disease etiology. 
			iMOKA uses a fast and accurate feature reduction step that combines a Naïve Bayes Classifier
			 augmented by an adaptive Entropy filter and a graph-based filter to rapidly reduce the search space. 
			 By using a flexible file format and distributed indexing, iMOKA can easily integrate data from 
			 multiple experiments and also reduces disk space requirements.</p>
		</mat-card-content>
	</mat-card>
	<mat-card style="margin-top:2em;">
		<p>
			 	This project is founded by the University of Montpellier (France)
			 	 as part of the initiative MUSE: Montpellier Université d'excellence.
			 	 The code is freely available under the Open Source CeCILL license here: <a title="GitHub" mat-icon-button href="https://github.com/RitchieLabIGH/iMOKA" target="_blank"><mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon></a>
			 	 . </p>
		<div class="logo-container" >
			 	 	<img src="assets/images/MUSE.png" ><img src="assets/images/UM.png" ><img src="assets/images/CNRS.png" >
		</div>
	</mat-card>
	</div>
</div>