.main > div {
	padding : 2em 1em;
}

.main {
	padding : 0 10em;
}
p {
	font-size: 16px;
}


.logo-container {
	text-align : center;
	width:100%;
}

.logo-container img {
	height : 8vh;
	margin: 0 15px
	
}