.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 180px;
  overflow: hidden;
}



.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-frame{
	width: 100%;
	overflow: auto;
}




.message-container {
	position:fixed;
	width:250px;
	right:5px;
	top:65px;
	height:calc(100vw - 70px);
	z-index:100001;
	text-align:center;
}

.message-container-bg {
	position:fixed;
	width : 100vw;
	height : 100vh;
	right:0;
	top:0;
	z-index:100000;
}

.message-card {
	height:100%;
	overflow:auto;
}