.sidenav-container {
  height: 100%;
  width:100%;
}
.sidenav {
  width: 210px;
  overflow-x: hidden;
  
}
.menu-list {
	height:calc(100% - 80px);
	overflow:auto;
}
.menu-list::-webkit-scrollbar {
  display: none;
}
.menu-list .mat-subheader {
	padding-top:1em;
	padding-bottom: 0;
	height:1.5em;
}

.router-container {
	width:100%;
	height:calc(100% - 64px);
	overflow:auto; 
}

a {
	font-weight: normal;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.blocked-message {
	color : white;
}

.waiting-container{
	position : fixed;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background : rgba(0,0,0,0.8);
	border-radius: 10px;
	border : 2px solid black;
	z-index:100001;
	text-align:center;
	padding : 25px;
}

.message-container {
	position:fixed;
	width:250px;
	right:5px;
	top:65px;
	height:calc(100vw - 70px);
	z-index:100001;
	text-align:center;
	
}

.message-container-bg {
	position:fixed;
	width : 100vw;
	height : 100vh;
	right:0;
	top:0;
	z-index:100000;
}

.message-card {
	height:100%;
	overflow:auto;
}


.centered{
  text-align : center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  position: absolute;
}

.sk-cube-grid {
  width: 20vh;
  height: 20vh;
  margin :auto;
}


.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}
.sk-cube-grid .sk-cube1 {
	background-image : url("~src/assets/images/grid_1.png");
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
	background-image : url("~src/assets/images/grid_2.png");
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
	background-image : url("~src/assets/images/grid_3.png");
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
	background-image : url("~src/assets/images/grid_4.png");
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
	background-image : url("~src/assets/images/grid_5.png");
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
	background-image : url("~src/assets/images/grid_6.png");
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
	background-image : url("~src/assets/images/grid_7.png");
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
	background-image : url("~src/assets/images/grid_8.png");
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
	background-image : url("~src/assets/images/grid_9.png");
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
