.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 210px;/*original:180px*/
  overflow: hidden;
  background-color: var(--color-darkblue);
}

a {
	font-weight: normal;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-white);
box-shadow: -1px 3px 4px -3px rgba(0,0,0,0.38);
-webkit-box-shadow: -1px 3px 4px -3px rgba(0,0,0,0.38);
-moz-box-shadow: -1px 3px 4px -3px rgba(0,0,0,0.38);
}
.main-frame{
	width: 100%;
	overflow: auto;
}

.blocked-message {
	color : white;
}

.waiting-container{
	position : fixed;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background : rgba(0,0,0,0.8);
	border-radius: 10px;
	border : 2px solid black;
	z-index:100001;
	text-align:center;
	padding : 25px;
}

.message-container {
	position:fixed;
	width:250px;
	right:5px;
	top:65px;
	height:calc(100vw - 70px);
	z-index:100001;
	text-align:center;
	
}

.message-container-bg {
	position:fixed;
	width : 100vw;
	height : 100vh;
	right:0;
	top:0;
	z-index:100000;
}

.message-card {
	max-height:100%; /* height: 100%; */
	overflow:auto;
}


.centered{
  text-align : center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  position: absolute;
}

.sk-cube-grid {
  width: 20vh;
  height: 20vh;
  margin :auto;
}


.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}
.sk-cube-grid .sk-cube1 {
	background-image : url("~src/assets/images/grid_1.png");
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
	background-image : url("~src/assets/images/grid_2.png");
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
	background-image : url("~src/assets/images/grid_3.png");
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
	background-image : url("~src/assets/images/grid_4.png");
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
	background-image : url("~src/assets/images/grid_5.png");
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
	background-image : url("~src/assets/images/grid_6.png");
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
	background-image : url("~src/assets/images/grid_7.png");
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
	background-image : url("~src/assets/images/grid_8.png");
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
	background-image : url("~src/assets/images/grid_9.png");
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

/*New Rules*/
.mat-list-item{
  color: var(--color-white-offwhite);
  font-size: 15px;
  font-weight: var(--font-regular);
  text-transform: capitalize;
  letter-spacing:.6px;
}
h3.mat-subheader{
  color: var(--color-kaki-light60);
  height: 15px;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 25px;
}
.mat-list-base{
  padding-top: 186px;/* 186px */
  /* margin: 0 100px; */
}
.mat-nav-list .mat-list-item{
  height: 56px;
}
.mat-divider{
  display: none;
}
.mat-icon-button {
  color: var(--color-darkblue);
}
.slogan{
  font-size: 12px;
  font-weight:var(--font-regular);
  color: var(--color-kaki-default);
  opacity: 0.8;
  line-height: 85px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  align-self: center;
  margin-left: 25px;
}
.logo-imoka{
  align-self: center;
  margin-top: -6px;
  margin-left: 10px;
}

.mat-toolbar > a{
  margin: 0 10px;

}
.mat-toolbar > button{
  margin-left: 10px;
  margin-right: 20px;
}
.mat-card-title{
  font-size: 14px;
}