<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h3 matSubheader>General</h3>
      <a mat-list-item routerLink="dashboard"><mat-icon matListIcon>dashboard</mat-icon> Dashboard</a>
      <mat-divider></mat-divider>
      <ng-container *ngIf="session && session.profile.process_config.profiles.length > 0">
      	<h3 matSubheader >Preprocess</h3>
      	<a mat-list-item routerLink="dred"><mat-icon fontSet="fa" fontIcon="fa-database" matListIcon ></mat-icon>Workspace</a>
      </ng-container>
      <mat-divider></mat-divider>
      <h3 matSubheader>Data analysis</h3>
      <a mat-list-item routerLink="files"><mat-icon matListIcon>folder_open</mat-icon>File explorer</a>
      <a mat-list-item routerLink="klist" *ngIf="session && session.files.kmers" ><mat-icon matListIcon>table-chart</mat-icon>K-mer list</a>
      <a mat-list-item routerLink="models" *ngIf="session && session.files.importance"><mat-icon fontSet="fa"  fontIcon="fa-project-diagram" matListIcon ></mat-icon> Prediction models</a>
      <a mat-list-item routerLink="som" *ngIf="session && session.files.som"><mat-icon matListIcon>map</mat-icon> Samples SOM</a>
   	  <mat-divider></mat-divider>
   	  <h3 matSubheader>Others</h3>
   	  <a mat-list-item routerLink="setup"><mat-icon matListIcon>settings_applications</mat-icon>Settings</a>
      <a mat-list-item routerLink="about" ><mat-icon matListIcon>info</mat-icon>About iMOKA</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" fxLayoutAlign="none" >
    <mat-toolbar color="primary"  style="z-index:10000000" fxFlex="60px">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div><img style="height:50px;vertical-align:middle;" src="assets/images/iMOKA_white.png"><span><strong>i</strong>nteractive <strong>M</strong>ulti <strong>O</strong>bjective <strong>K</strong>-mer <strong>A</strong>nalysis </span></div>  
     <span fxFlex="grow"></span>
     <button mat-mini-fab class="banner-fab" *ngIf="blocked" color="white"  [title]="blocked.message" (click)="showAlert(blocked.message, 'Download in progress')" ><mat-progress-spinner  diameter="23" [mode]="blocked.progress && blocked.progress > 3 ? 'determinate' : 'indeterminate' " [value]="blocked.progress" ></mat-progress-spinner></button>
     <a title="GitHub" mat-icon-button href="https://ritchielabigh.github.io/iMOKA/" target="_blank"><mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon></a>
     <a title="Settings" mat-icon-button routerLink="setup" ><mat-icon>settings_applications</mat-icon></a>
     <button title="Alerts" mat-icon-button (click)="hideAlert=!hideAlert" ><mat-icon *ngIf="hideAlert">notifications</mat-icon><mat-icon *ngIf="!hideAlert">notifications_none</mat-icon></button>
    </mat-toolbar>
    <div class="main-frame" fxFlex>
    	<router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="message-container-bg cdk-overlay-dark-backdrop" [class.hidden]="hideAlert" (click)="hideAlert=!hideAlert"></div>
<div class="message-container" [class.hidden]="hideAlert">
	<mat-card class="mat-elevation-z6 message-card" >
		<mat-card-title>Alerts</mat-card-title>
		<mat-card-content>
			<mat-list>
			<mat-list-item *ngFor="let mex of messages; let i=index">
				<button mat-icon-button (click)="messages.splice(i,1)" title="Remove this message" ><mat-icon>cancel</mat-icon></button> <p>{{mex.message}}</p>
			</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>