.main-content {
	min-height: 70vh; 
}

.folder-list-element {
	border : 2px solid #3f50b5;
	border-radius : 3px;
	width:auto;
}



.folder-list {
	height: 100%;
}

.folder-container {
	margin-right: 10px;
	overflow-y:auto;
} 


.info-container {
	height: 90%;
	overflow-y:auto;
}

.current-file-explorer {
	margin-top:5px;
}

.current-file {
	margin : 5px;
}
