.mat-cell {
	font-size: 0.8em;
}

.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.pre-container{
	max-height: 200px;
	overflow: auto;
}

.main > div {
	padding: 15px;
}

.main-content {
	min-height:80vh; 
}
