
<h1 mat-dialog-title>Selfe Organizing maps generation </h1>
<div mat-dialog-content class="main-dialog">
  <div fxLayout="column">
    <mat-vertical-stepper linear="true" #stepper>
    <mat-step [stepControl]="mainParam">
    <form [formGroup]="mainParam">
      <ng-template matStepLabel>Main parameters</ng-template>
      <div fxLayout.lt-sm="column" fxLayout="row wrap" fxLayoutGap="32px grid" fxLayoutAlign="flex-start">
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
          <mat-form-field> 
            <mat-label>Experiment description</mat-label> 
            <input matInput required formControlName="description">
            <mat-hint>Give a name to this experiment</mat-hint> 
          </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
          <mat-form-field> 
            <mat-label>K-mers to use</mat-label> 
            <mat-select required formControlName="which_features">
              <mat-option value="all">All the k-mers</mat-option>
              <mat-option value="filtered">The ones visible in the table</mat-option>
            </mat-select> 
          </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
          <mat-form-field> 
            <mat-label>Iterations</mat-label> 
            <input matInput required formControlName="iterations" type="number">
            <mat-hint>Number of iterations for SOM training</mat-hint>
          </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>Start learning rate</mat-label> 
            <input matInput required formControlName="learn_rate" type="number"  >
          </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-slide-toggle required formControlName="norm">Normalize</mat-slide-toggle>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-form-field>
          <mat-label>Squared network size by axe </mat-label>
            <mat-label>Start learning rate</mat-label> 
            <input matInput required formControlName="nnsize" placeholder="6,8,10">
            <mat-hint>Value of 2 is a 2x2 network with 4 nodes. Multiple values will create multiple analyisis</mat-hint>
        </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-form-field>
          <mat-label>Number of cluster</mat-label>
            <input matInput required formControlName="csize" >
            <mat-hint>Number of cluster to cluster sample from SOM</mat-hint>
        </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
          <mat-form-field>
            <mat-label>Classifier type</mat-label> 
            <mat-select formControlName="cftype">
              <mat-option *ngFor="let cf of cftypes" [value]="cf.name">{{cf.des}}</mat-option>
            </mat-select> 
            <mat-hint>SOM validation by classification algorythm type.</mat-hint> 
          </mat-form-field>
        </div>
      </div>
    </form>
    </mat-step> <mat-step [stepControl]="procControl">
    <form [formGroup]="procControl">
      <ng-template matStepLabel>Process resources</ng-template>
      <div fxLayout.lt-sm="column" fxLayout="row wrap" fxLayoutGap="32px"
        fxLayoutAlign="flex-start">
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
          <mat-form-field> 
            <mat-label>Threads per process</mat-label> 
            <input matInput required formControlName="cores" type="number"> 
            <mat-hint>Number of cores used per process</mat-hint> 
          </mat-form-field>
        </div>
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
          <mat-form-field> 
            <mat-label>Memory</mat-label> 
            <input matInput required formControlName="mem" type="number"> 
            <mat-hint>Memory required by the process in Gb (considering the mapping) </mat-hint> 
          </mat-form-field>
        </div>
      </div>
    </form>
    </mat-step> </mat-vertical-stepper>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
  <button mat-button [disabled]="!isValid()" (click)="send()">Run</button>
</div>
