
<h1 mat-dialog-title>Informations for Sequence {{sequence.id}}</h1>
<div mat-dialog-content class="main-content">
	<div class="row" >
	<div class="col-12">
		<mat-card class="margin-1  mat-elevation-z2"> <mat-card-title>
				General informations </mat-card-title> <mat-card-content>
				<div class="row">
                    <div class="col-md-12">
						<strong >Sequence</strong>
						<p >{{sequence.sequence}}</p>
					</div><div class="col-md-6">
						<strong >Best k-mer</strong>
						<p >{{sequence.best_kmer}}</p>
					</div><div class="col-md-6">
						<strong >Best k-mer comparison values</strong>
						<p  *ngFor="let value of sequence.best_kmer_values; index as i"><span
								class="font-w-bold"> {{info.predictors[i]}} </span> : <span
								class="font-italic"> {{value | number}} </span></p>
					</div><div class="col-md-6">
						<strong  >Graph number {{sequence.graph}} </strong>
					</div><div class="col-md-6">
						<strong >Alignments</strong>
						<ul  *ngIf="sequence.alignments && sequence.alignments.length > 0">
							<li *ngFor="let aln of sequence.alignments; index as i"
								class="list-inline-item">
								{{aln.chromosome}}:{{aln.start}}-{{aln.end}} [{{aln.strand}}]</li>
						</ul>
						<span  *ngIf="! sequence.alignments || sequence.alignments.length == 0 ">None</span>
					</div></div>
				</mat-card-content> </mat-card>
				</div>
	</div>
</div>

