<h3>Job {{data.job.original_request.name}} #{{data.job.uid}}</h3>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header >
      <mat-panel-title>Standard output</mat-panel-title>
    </mat-expansion-panel-header>
    <pre class="logger">{{data.stdout}}</pre>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header >
      <mat-panel-title>Standard error</mat-panel-title>
    </mat-expansion-panel-header>
    <pre class="logger">{{data.stderr}}</pre>
  </mat-expansion-panel>
</mat-accordion>
