
.sticky-options{
	position:sticky;
	top:0;
	z-index:100;
}
.button-hide-container {
	height:1px;
	overflow:visible;
	text-align: center;
}

.button-hide-container button{
	z-index:101;
}
.hidden-vertical {
	max-height : 0px !important;
	overflow-y : hidden;
}
.hidden-vertical-fade {
	transition: max-height 0.5s;
	max-height: 50vh;
	overflow-y : auto;
	padding:0;
	margin:0;
	
}

.main {
	height : 100%;
}

.tab-content {
	overflow-y : auto;
}

.tab-content > div {
	padding : 0 15px;
}

.tab-content > div > div{
	padding : 15px 0;
}



.no-padding{
	padding:0;
}