
.sticky-options{
	position:sticky;
	top:0;
	z-index:100;
	width:100%;
}

.button-hide-container {
	height:1px;
	overflow:visible;
	text-align: center;
}

.button-hide-container button{
	z-index:101;
}
.hidden-vertical {
	height : 0px !important;
	overflow-y : hidden !important;
}
.hidden-vertical-fade {
	transition: height 0.5s;
	height: auto;
	overflow-y:visible;
	padding:0;
	margin:0;
	
}

.main {
	height : 95%;
}

.tab-content {
	overflow-y : auto;
}

.tab-content > div {
	padding : 0 15px;
}

.tab-content > div > div{
	padding : 15px 0;
}



.no-padding{
	padding:0;
}